<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/app.css'>

</head>

<body>

    <div class="app" , id="app">
        <div class="topnav" , id="topnav">
            <a class="active" href="/home">Home</a>

            <div class="search-container">
                <form action="">
                    <input type="text" placeholder="Search.." name="search" id="search_bar">
                    <button type="button" id="search_btn">Submit</button>
                </form>
            </div>
        </div>

        <div class="img_grid" , id="img_grid">

        </div>
        <div class="page_num">
            <ul>

            </ul>

        </div>
    </div>

    <script type="text/javascript">
        var query = "{{pQuery}}";
    </script>


    <script type="text/javascript" src='/script/search.js'></script>
    <script>run()</script>
</body>

</html>