body {
  min-width: 600px;
  font-family: Verdana, sans-serif;
}

.app {
  display: flex;
  flex-flow: column;
}

@media screen and (max-width: 600px) {
  .app {
    display: flex;
    flex-flow: column;
    align-items: stretch;
  }
}

.img_grid {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  padding-top: 30px;
}

.img_cover {
  flex: 0 auto;
  /* position: relative; Create a containing block for absolute positioning */
  padding-left: 5em;
  padding-left: 5em;
  padding-bottom: 30px;
  padding-top: 5em;
}

.img_cover img {
  max-width: 60%; /* Ensure the image scales within its container */
  height: auto;
}

.img_box {
  float: left;
  width: 20%; /* Set the width as a percentage */
  padding-bottom: 42%; /* Set the height as a percentage based on the image's aspect ratio (210 / 150 * 100) */
  position: relative; /* Create a containing block for absolute positioning */
  padding-left: 5em;
  padding-bottom: 5em;

}

.img_box img {
  width: 100%; /* Make the image take up 100% of the container's width */
  height: 100%; /* Make the image take up 100% of the container's height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.page_num {
  display: flex;
  align-items: center;
  align-self: center;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.topnav a {
  float: left;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196f3;
  color: white;
}

.topnav .search-container {
  float: right;
  padding-left: 10px;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }

  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  /* z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /* cursor: pointer; Add a pointer on hover */
  grid-template-columns: auto auto auto;
  align-items: center;
}

.img_overlay {
  position: absolute;
  top: 5%;
  left: 35%;
  width: 35%;
  height: auto;
  background-size: contain;
}

.img_book_cover {
  width: 150px;
  height: auto;
  background-size: contain;
}

.arrow {
  border: solid rgb(107, 107, 107);
  border-width: 0 50px 50px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.error{
  color: brown;
  padding: 30px;
  align-self: center;
  display: inline-block;
}


.grid-container {
  display: flex;
  padding: 10px;
  align-items: flex-start;
}

.grid-container-old {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "img_cover img_cover Image-info Image-info"
    "img_cover img_cover . .";
}

.Image img{
  width: 300px;
  height: auto;
  background-size: contain;

  padding-left: 30px;
  padding-top: 10px;
}

.Image-info {
  grid-area: Image-info;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 2em;
}

.Image-info-flex{
  flex: 1;
}

.tags {
  background-color: #272727;
  border: none;
  color: #2196f3;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;

}

.Image-info-manage{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.tagButton{
  background-color: #2196f3;
  border: none;
  color: white;
  padding:10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.tagButton input{
  border: 1px solid #ccc;
  background-color: #ccc;
  height: 10px;
  width: 100%;
  flex-grow: 4;
  box-sizing: border-box;
}

